*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
  }

body {
    font-size: 1.6rem;
    text-align: center;
  }


#grid-container {
      display: grid;
      max-width: 60rem;
      min-height: 60rem;
      background-color: #2196F3;
      margin: 2rem auto;
  }

.grid-element {
      background-color: pink;
      border: 1px solid black;
  }

  .btn {
      padding: 1rem;
      text-decoration: none;
      border: none;
      width: 20rem;
      border-radius: 1rem;
      font-size: 3rem;
      background-color: pink;
      box-shadow: .3rem .3rem 5px rgba(0, 0, 0, 0.411) ;
  }

  .btn:hover {
    box-shadow: .2rem .2rem 4px rgba(0, 0, 0, 0.582) ;
  }
  